target
# ignore eclipse files
.project
.classpath
.settings
.metadata
# ignore m2e annotation processing files
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
# ignore NetBeans files
nbactions.xml
nb-configuration.xml
catalog.xml
#
# maven versions plugin
pom.xml.versionsBackup
#OS X index files
.DS_Store
